<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="false">
  <testsuites>
    <testsuite name="initial">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>